commands:
   0setcomposerhome:
      command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:
   0composer:
      command: "/usr/bin/composer.phar install"
   1migrate:
      command: "php artisan migrate"



