.form-group {
    display: inline-block;
}

.form-group label {
    display: block;
}

form {
    padding-bottom: 20px;
}

#advancedSearch {
    display: none;
}

input {
    width: 100%;
}

#beds {
    position: relative;
    top: -92px;
}

#submitBtn {
    position: relative;
}
