.form-group {
    display: inline-block;
}

.form-group label {
    display: block;
}

form {
    padding-bottom: 20px;
}

#advancedSearch {
    display: none;
}

input {
    width: 100%;
}

#mins {
    position: relative;
    top: -52px;
}

#submitBtn {
    position: relative;
}

#number_beds {
    margin-bottom: 10px;
}

small {

}
